*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
    color: black;
    font-family: "poppins",sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1,5rem;

}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 form input, form button{
    padding: 0,5rem;
    padding-left: 1rem;
    font-size: 1,8rem;
    border: none;
    background: white;
    border-radius: 2rem;
 }
  form button{
    color: blueviolet;
    background: white;
    cursor: pointer;
    transition: all 0,3 ease;
    margin-left: 0,5rem;

  }
  form button{
    color: white;
    background: rgb(red, green, blue);
  }
  .todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .todo-list{
    min-width: 30%;
    list-style: none;
  }
  .todo{
    margin: 0,5rem;
    padding-left: 0,8rem;
    background: white;
    color: black;
    font-size: 1,5rem;
    display: flex;
justify-content: space-between;
align-items: center;
transition:0,5s ;
border-radius: 2rem;
  }
  .todo li{
    flex: 1;
  }
  .trash-bnt,
  .complete-bnt{
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
  }